*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --very-light-grey:hsl(0, 0%, 98%);
    --dark-blue:hsl(209, 23%, 22%);
    --dark-blue-100:hsl(207, 26%, 17%);
    --dark-blue-200: hsl(200, 15%, 8%);
    --white:hsl(0, 0%, 100%);
}
body{
    background-color: var(--white);
    transition:background-color 0.2s linear;
}
a{
    text-decoration: none;
  
}
body {
    color:black;
}
body a {
    color:black;
}
body.dark-theme{
    background-color: var(--dark-blue);
    color:white;

  
}
body.dark-theme .card{
    background-color: var(--dark-blue-100);
    box-shadow: 8px 8px 24px 0px rgb(4, 4, 4);
    color:white;
}
body.dark-theme .card a {
    color:white;
}
body.dark-theme i {
    color:white;
}
ul{
    list-style: none;
}
#root{
    width: 90%;
    margin: 0 auto;
    max-width: 1380px;
}
header{
    width: 90%;
    margin:0 auto;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-between;
    border-bottom: 2px solid var(--very-light-grey);
    margin-bottom: 2rem;
}
header span{
    display: flex;
    align-items: center;
    gap:1rem;
}
header span i{
    font-size: 2rem;
    cursor: pointer;
    color:var(--dark-blue);
    transition: all 0.4s linear
}
header span i:hover{
    transform:scale(1.1);
}
.countries__wrapper{
    display: grid;
  
    gap: 3rem;
    
}
@media screen and (max-width:600px){
    .countries__wrapper{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:600px) {
    .countries__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:900px) {
    .countries__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:1200px) {
    .countries__wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.card{
 background-color: var(--very-light-grey);
box-shadow: 8px 8px 24px 0px rgba(227, 227, 227, 1);
border-radius: 1rem;
overflow: hidden;
cursor: pointer;
transition: 0.2s linear;
 
}
.card:hover{
    transform:scale(1.05);
}
.card:hover .country__info{
   
}
.card img{
    width: 100%;
    aspect-ratio: 160/98;
}
.country__info{
    padding: 1rem;
    
}
.country__info p{
    font-weight: bold;
}
.country__info p span{
    font-weight: normal;
}
.country__name{
    padding-left: 1rem;
    margin-top: 1rem;
}

.filters{
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
}
.filters.hidden{
    display: none;
}
#query{
    padding: 1rem 2rem;
    border:none;
    font-size: 1.2rem;
    background-color: var(--very-light-grey);
    border-radius: 1rem;
}

input#query:focus{
    outline: 2px solid var(--dark-blue);
}
input#query:active {
    border: none;
}

.country{
   
    display: flex;
    flex-direction: column;
    gap:2rem;
    background-color: var(--very-light-grey);
   
}
.country a {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
}
.country__content{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
}
.info__col h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.country__info-columns{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.borders__country{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   

}
.borders__country div{
    
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
}
.borders__country p {
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.borders__country div span {
    background-color: var(--white);
    box-shadow: 8px 8px 24px 0px rgb(212, 210, 210);
    padding: 0.4rem 1.9rem;
    font-size: 1rem;
    color: black;
}
.img__container img{
    width: 100%;
}
@media screen and (min-width:700px){
    .country__content{
        flex-direction: row;
    }
    .img__container{
      
        flex-basis: 50%;
        
    }
    .country__info{
        flex-basis: 50%;
        
      
    }
}
@media screen and (min-width:1000px) {
    .country__info-columns {
            flex-direction: row;
            align-items: flex-start;
            gap:5rem;
        }
        .info__col:last-child{
            margin-top: 4.5rem;
        }
}
.info__col p {
    margin-bottom: 1rem;
}